body{
background-image: url(sunset.jpg);
height:fit-content;
}

h1{
    color: #fff;
    display:flex ;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin-top: 10%;
}
h1:hover{
    color: tomato;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

}
button{
    height: 100px;
    width: 10%;
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
    border-radius: 15px;
    color: #fff;
    background-color: cadetblue;
    border: 0px;
}
button:hover{
    background-color: burlywood;
    color: black;
    
}
input{
    height: 80px;
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-right: 30px;
    border-radius:15px ;
    border: 0px;
    padding: 0;
    color: black;

}
input:hover{
    background-color: burlywood;
    color:red;
    border-style: solid;
}
a{
    font-size:25px ;
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: darkorange;
    text-decoration: underline;
    font-weight:bolder;
}